<h1 style="text-align: center">Ducks GameScore Leaderboard</h1>

<div class="container">
    <h2>PostSeason</h2>
    <div class="row">
        <div class="col build">
            <h5>Top GameScore</h5>
        </div>
        <div class="col build">
            <h5>Best Average GameScore</h5>
        </div>
        <div class="col build">
            <h5>Worst Average GameScore</h5>
        </div>
    </div>
    <h2>Regular Season</h2>
    <div class="row">
        <div class="col build">
            <h5>Top GameScore</h5>
        </div>
        <div class="col build">
            <h5>Best Average GameScore</h5>
        </div>
        <div class="col build">
            <h5>Worst Average GameScore</h5>
        </div>
    </div>
</div>